html {
  scroll-behavior: smooth;
}


:root {
  --orange: #ff6b00;
  --black: #111111;
  --dark-gray: #555555;
  --light-gray: #f5f5f5;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--white);
  color: var(--black);
}

section {
  padding: 100px 10%;
}

h1 {
  font-size: 3.2rem;
  letter-spacing: -1px;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

p {
  line-height: 1.7;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}